<!DOCTYPE HTML>
<html>
    <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>

      <link rel="stylesheet" href="/assets/css/style.css">

      <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    </head>

    <body>
    	<div>
	      <nav class="nav">
	        <ul class="navigation">
            <li><img src="/assets/images/favicon.ico" width="32" height="32" class="logo"></li>
	          {% for link in site.navigation %}
	            <li><a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a></li>
	          {% endfor %}
	        </ul>
          <hr class="horizontal-line">
	      </nav>
		  </div>

      <section>
    	 {{ content }}
      </section>

      <footer class="">
        <p>The Bumblebee <i><u>team</u></i></p>
        <img src="assets/images/favicon.ico" class="logo">
      </footer>
    </body>
</html>
